<div class='post-list'>
  {{#each posts as |post|}}
    <a href='/post/{{post.id}}'><h2>{{post.title}}</h2></a>
    <p>{{post.text}}</p>
    <button class='btn btn-sm btn-danger' data-id='{{post.id}}'>DELETE</button>
    <a href="/edit/{{id}}"><button class='btn btn-sm btn-update' data-id='{{post.id}}'>Update</button></a>
  {{/each}}
</div>

<a href='/newpost'><button id='create-btn'>Create New Post</button></a>

<script src='./js/dashboard.js'></script>