<h2>{{title}}</h2>
<h4>Created by {{user.name}} on {{format_date date_created}}</h4>
<p>{{text}}</p>

<h3>Comments</h3>
{{#each comments as |comment|}}
  <p>{{comment.text}} by {{comment.user.name}} <br /> {{format_date comment.date_created}}</p>

    <button class='btn btn-sm btn-danger2 delete-comment' data-id='{{comment.id}}'>Delete</button>

{{/each}}

<p>
  <a class='btn btn-primary comment-btn' href='/comment/{{id}}'>Comment</a>
</p>

<script src='../js/dashboard.js'></script>
